In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
from pydataset import data
from env import get_db_url
import acquire

# Make a new repo called classification-exercises on both GitHub and within your codeup-data-science directory. This will be where you do your work for this module.

### open iris from pydataset

In [2]:
df = data('iris')

### print the first 3 rows
###

In [3]:
df[:3]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

#### OR

In [4]:
df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### print the number of rows and columns (shape)
###

In [5]:
df.shape

(150, 5)

### print the column names
###

In [6]:
df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### print the data type of each column
###

In [7]:
df.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

### print the summary statistics for each of the numeric variables
###

In [8]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Read the data from this google sheet into a dataframe, df_google.
###

In [9]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### print the first 3 rows
###

In [10]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### print the number of rows and columns
###

In [11]:
df_google.shape

(891, 12)

### print the column names
###

In [12]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### print the data type of each column
###

In [13]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### print the summary statistics for each of the numeric variables
###

In [14]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### print the unique values for each of your categorical variables
###

In [15]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

# Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.
###

In [16]:
df = pd.read_excel('train.xlsx')

### assign the first 100 rows to a new dataframe, df_excel_sample
###

In [17]:
df_excel_sample = df.head(100)

In [18]:
df_excel_sample

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S

### print the number of rows of your original dataframe
###

In [19]:
df.shape

(891, 12)

### print the first 5 column names
###

In [20]:
df.iloc[:, :5].columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

### print the column names that have a data type of object
###

In [21]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [22]:
df.select_dtypes(include = 'object')

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [23]:
df.select_dtypes(include = 'object').columns.to_list()

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

### compute the range for each of the numeric variables.
###

In [24]:
columns = df.select_dtypes(include='number')

range_of_columns = columns.max() - columns.min()

In [25]:
range_of_columns

PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
Age             79.5800
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64

### Using the Iris Data:

In [26]:
import pandas as pd
from pydataset import data
import seaborn
import matplotlib as plt
from env import get_db_url
import acquire

### Use the function defined in acquire.py to load the iris data.

In [27]:
iris = acquire.new_iris_db()

In [28]:
iris

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
5,1,setosa,5.4,3.9,1.7,0.4
6,1,setosa,4.6,3.4,1.4,0.3
7,1,setosa,5.0,3.4,1.5,0.2
8,1,setosa,4.4,2.9,1.4,0.2
9,1,setosa,4.9,3.1,1.5,0.1
10,1,setosa,5.4,3.7,1.5,0.2
11,1,setosa,4.8,3.4,1.6,0.2
12,1,setosa,4.8,3.0,1.4,0.1
13,1,setosa,4.3,3.0,1.1,0.1
14,1,setosa,5.8,4.0,1.2,0.2
15,1,setosa,5.7,4.4,1.5,0.4
16,1,setosa,5.4,3.9,1.3,0.4
17,1,setosa,5.1,3.5,1.4,0.3
18,1,setosa,5.7,3.8,1.7,0.3
19,1,setosa,5.1,3.8,1.5,0.3
20,1,setosa,5.4,3.4,1.7,0.2
21,1,setosa,5.1,3.7,1.5,0.4
22,1,setosa,4.6,3.6,1.0,0.2
23,1,setosa,5.1,3.3,1.7,0.5
24,1,setosa,4.8,3.4,1.9,0.2
25,1,setosa,5.0,3.0,1.6,0.2
26,1,setosa,5.0,3.4,1.6,0.4
27,1,setosa,5.2,3.5,1.5,0.2
28,1,setosa,5.2,3.4,1.4,0.2
29,1,setosa,4.7,3.2,1.6,0.2
30,1,setosa,4.8,3.1,1.6,0.2
31,1,setosa,5.4,3.4,1.5,0.4
32,1,setosa,5.2,4.1,1.5,0.1
33,1,setosa,5.5,4.2,1.4,0.2
34,1,setosa,4.9,3.1,1.5,0.2
35,1,setosa,5.0,3.2,1.2,0.2
36,1,setosa,5.5,3.5,1.3,0.2
37,1,setosa,4.9,3.6,1.4,0.1
38,1,setosa,4.4,3.0,1.3,0.2
39,1,setosa,5.1,3.4,1.5,0.2
40,1,setosa,5.0,3.5,1.3,0.3
41,1,setosa,4.5,2.3,1.3,0.3
42,1,setosa,4.4,3.2,1.3,0.2
43,1,setosa,5.0,3.5,1.6,0.6
44,1,setosa,5.1,3.8,1.9,0.4
45,1,setosa,4.8,3.0,1.4,0.3
46,1,setosa,5.1,3.8,1.6,0.2
47,1,setosa,4.6,3.2,1.4,0.2
48,1,setosa,5.3,3.7,1.5,0.2
49,1,setosa,5.0,3.3,1.4,0.2
50,2,versicolor,7.0,3.2,4.7,1.4
51,2,versicolor,6.4,3.2,4.5,1.5
52,2,versicolor,6.9,3.1,4.9,1.5
53,2,versicolor,5.5,2.3,4.0,1.3
54,2,versicolor,6.5,2.8,4.6,1.5
55,2,versicolor,5.7,2.8,4.5,1.3
56,2,versicolor,6.3,3.3,4.7,1.6
57,2,versicolor,4.9,2.4,3.3,1.0
58,2,versicolor,6.6,2.9,4.6,1.3
59,2,versicolor,5.2,2.7,3.9,1.4
60,2,versicolor,5.0,2.0,3.5,1.0
61,2,versicolor,5.9,3.0,4.2,1.5
62,2,versicolor,6.0,2.2,4.0,1.0
63,2,versicolor,6.1,2.9,4.7,1.4
64,2,versicolor,5.6,2.9,3.6,1.3
65,2,versicolor,6.7,3.1,4.4,1.4
66,2,versicolor,5.6,3.0,4.5,1.5
67,2,versicolor,5.8,2.7,4.1,1.0
68,2,versicolor,6.2,2.2,4.5,1.5
69,2,versicolor,5.6,2.5,3.9,1.1
70,2,versicolor,5.9,3.2,4.8,1.8
71,2,versicolor,6.1,2.8,4.0,1.3
72,2,versicolor,6.3,2.5,4.9,1.5
73,2,versicolor,6.1,2.8,4.7,1.2
74,2,versicolor,6.4,2.9,4.3,1.3
75,2,versicolor,6.6,3.0,4.4,1.4
76,2,versicolor,6.8,2.8,4.8,1.4
77,2,versicolor,6.7,3.0,5.0,1.7
78,2,versicolor,6.0,2.9,4.5,1.5
79,2,versicolor,5.7,2.6,3.5,1.0
80,2,versicolor,5.5,2.4,3.8,1.1
81,2,versicolor,5.5,2.4,3.7,1.0
82,2,versicolor,5.8,2.7,3.9,1.2
83,2,versicolor,6.0,2.7,5.1,1.6
84,2,versicolor,5.4,3.0,4.5,1.5
85,2,versicolor,6.0,3.4,4.5,1.6
86,2,versicolor,6.7,3.1,4.7,1.5
87,2,versicolor,6.3,2.3,4.4,1.3
88,2,versicolor,5.6,3.0,4.1,1.3
89,2,versicolor,5.5,2.5,4.0,1.3
90,2,versicolor,5.5,2.6,4.4,1.2
91,2,versicolor,6.1,3.0,4.6,1.4
92,2,versicolor,5.8,2.6,4.0,1.2
93,2,versicolor,5.0,2.3,3.3,1.0
94,2,versicolor,5.6,2.7,4.2,1.3
95,2,versicolor,5.7,3.0,4.2,1.2
96,2,versicolor,5.7,2.9,4.2,1.3
97,2,versicolor,6.2,2.9,4.3,1.3
98,2,versicolor,5.1,2.5,3.0,1.1
99,2,versicolor,5.7,2.8,4.1,1.3
100,3,virginica,6.3,3.3,6.0,2.5
101,3,virginica,5.8,2.7,5.1,1.9
102,3,virginica,7.1,3.0,5.9,2.1
103,3,virginica,6.3,2.9,5.6,1.8
104,3,virginica,6.5,3.0,5.8,2.2
105,3,virginica,7.6,3.0,6.6,2.1
106,3,virginica,4.9,2.5,4.5,1.7
107,3,virginica,7.3,2.9,6.3,1.8
108,3,virginica,6.7,2.5,5.8,1.8
109,3,virginica,7.2,3.6,6.1,2.5
110,3,virginica,6.5,3.2,5.1,2.0
111,3,virginica,6.4,2.7,5.3,1.9
112,3,virginica,6.8,3.0,5.5,2.1
113,3,virginica,5.7,2.5,5.0,2.0
114,3,virginica,5.8,2.8,5.1,2.4
115,3,virginica,6.4,3.2,5.3,2.3
116,3,virginica,6.5,3.0,5.5,1.8
117,3,virginica,7.7,3.8,6.7,2.2
118,3,virginica,7.7,2.6,6.9,2.3
119,3,virginica,6.0,2.2,5.0,1.5
120,3,virginica,6.9,3.2,5.7,2.3
121,3,virginica,5.6,2.8,4.9,2.0
122,3,virginica,7.7,2.8,6.7,2.0
123,3,virginica,6.3,2.7,4.9,1.8
124,3,virginica,6.7,3.3,5.7,2.1
125,3,virginica,7.2,3.2,6.0,1.8
126,3,virginica,6.2,2.8,4.8,1.8
127,3,virginica,6.1,3.0,4.9,1.8
128,3,virginica,6.4,2.8,5.6,2.1
129,3,virginica,7.2,3.0,5.8,1.6
130,3,virginica,7.4,2.8,6.1,1.9
131,3,virginica,7.9,3.8,6.4,2.0
132,3,virginica,6.4,2.8,5.6,2.2
133,3,virginica,6.3,2.8,5.1,1.5
134,3,virginica,6.1,2.6,5.6,1.4
135,3,virginica,7.7,3.0,6.1,2.3
136,3,virginica,6.3,3.4,5.6,2.4
137,3,virginica,6.4,3.1,5.5,1.8
138,3,virginica,6.0,3.0,4.8,1.8
139,3,virginica,6.9,3.1,5.4,2.1
140,3,virginica,6.7,3.1,5.6,2.4
141,3,virginica,6.9,3.1,5.1,2.3
142,3,virginica,5.8,2.7,5.1,1.9
143,3,virginica,6.8,3.2,5.9,2.3
144,3,virginica,6.7,3.3,5.7,2.5
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

### Drop the species_id and measurement_id columns.

In [29]:

cols_to_drop = ['species_id']
df = iris.drop(columns=cols_to_drop)
df

    species_name  sepal_length  sepal_width  petal_length  petal_width
0         setosa           5.1          3.5           1.4          0.2
1         setosa           4.9          3.0           1.4          0.2
2         setosa           4.7          3.2           1.3          0.2
3         setosa           4.6          3.1           1.5          0.2
4         setosa           5.0          3.6           1.4          0.2
5         setosa           5.4          3.9           1.7          0.4
6         setosa           4.6          3.4           1.4          0.3
7         setosa           5.0          3.4           1.5          0.2
8         setosa           4.4          2.9           1.4          0.2
9         setosa           4.9          3.1           1.5          0.1
10        setosa           5.4          3.7           1.5          0.2
11        setosa           4.8          3.4           1.6          0.2
12        setosa           4.8          3.0           1.4          0.1
13        setosa           4.3          3.0           1.1          0.1
14        setosa           5.8          4.0           1.2          0.2
15        setosa           5.7          4.4           1.5          0.4
16        setosa           5.4          3.9           1.3          0.4
17        setosa           5.1          3.5           1.4          0.3
18        setosa           5.7          3.8           1.7          0.3
19        setosa           5.1          3.8           1.5          0.3
20        setosa           5.4          3.4           1.7          0.2
21        setosa           5.1          3.7           1.5          0.4
22        setosa           4.6          3.6           1.0          0.2
23        setosa           5.1          3.3           1.7          0.5
24        setosa           4.8          3.4           1.9          0.2
25        setosa           5.0          3.0           1.6          0.2
26        setosa           5.0          3.4           1.6          0.4
27        setosa           5.2          3.5           1.5          0.2
28        setosa           5.2          3.4           1.4          0.2
29        setosa           4.7          3.2           1.6          0.2
30        setosa           4.8          3.1           1.6          0.2
31        setosa           5.4          3.4           1.5          0.4
32        setosa           5.2          4.1           1.5          0.1
33        setosa           5.5          4.2           1.4          0.2
34        setosa           4.9          3.1           1.5          0.2
35        setosa           5.0          3.2           1.2          0.2
36        setosa           5.5          3.5           1.3          0.2
37        setosa           4.9          3.6           1.4          0.1
38        setosa           4.4          3.0           1.3          0.2
39        setosa           5.1          3.4           1.5          0.2
40        setosa           5.0          3.5           1.3          0.3
41        setosa           4.5          2.3           1.3          0.3
42        setosa           4.4          3.2           1.3          0.2
43        setosa           5.0          3.5           1.6          0.6
44        setosa           5.1          3.8           1.9          0.4
45        setosa           4.8          3.0           1.4          0.3
46        setosa           5.1          3.8           1.6          0.2
47        setosa           4.6          3.2           1.4          0.2
48        setosa           5.3          3.7           1.5          0.2
49        setosa           5.0          3.3           1.4          0.2
50    versicolor           7.0          3.2           4.7          1.4
51    versicolor           6.4          3.2           4.5          1.5
52    versicolor           6.9          3.1           4.9          1.5
53    versicolor           5.5          2.3           4.0          1.3
54    versicolor           6.5          2.8           4.6          1.5
55    versicolor           5.7          2.8           4.5          1.3
56    versicolor           6.3          3.3           4.7          1.6
57    versicolor           4.9          2.4           3.3          1.0
58    versicolor           6.6          2.9           4.6          1.3
59    versicolor           5.2          2.7           3.9          1.4
60    versicolor           5.0          2.0           3.5          1.0
61    versicolor           5.9          3.0           4.2          1.5
62    versicolor           6.0          2.2           4.0          1.0
63    versicolor           6.1          2.9           4.7          1.4
64    versicolor           5.6          2.9           3.6          1.3
65    versicolor           6.7          3.1           4.4          1.4
66    versicolor           5.6          3.0           4.5          1.5
67    versicolor           5.8          2.7           4.1          1.0
68    versicolor           6.2          2.2           4.5          1.5
69    versicolor           5.6          2.5           3.9          1.1
70    versicolor           5.9          3.2           4.8          1.8
71    versicolor           6.1          2.8           4.0          1.3
72    versicolor           6.3          2.5           4.9          1.5
73    versicolor           6.1          2.8           4.7          1.2
74    versicolor           6.4          2.9           4.3          1.3
75    versicolor           6.6          3.0           4.4          1.4
76    versicolor           6.8          2.8           4.8          1.4
77    versicolor           6.7          3.0           5.0          1.7
78    versicolor           6.0          2.9           4.5          1.5
79    versicolor           5.7          2.6           3.5          1.0
80    versicolor           5.5          2.4           3.8          1.1
81    versicolor           5.5          2.4           3.7          1.0
82    versicolor           5.8          2.7           3.9          1.2
83    versicolor           6.0          2.7           5.1          1.6
84    versicolor           5.4          3.0           4.5          1.5
85    versicolor           6.0          3.4           4.5          1.6
86    versicolor           6.7          3.1           4.7          1.5
87    versicolor           6.3          2.3           4.4          1.3
88    versicolor           5.6          3.0           4.1          1.3
89    versicolor           5.5          2.5           4.0          1.3
90    versicolor           5.5          2.6           4.4          1.2
91    versicolor           6.1          3.0           4.6          1.4
92    versicolor           5.8          2.6           4.0          1.2
93    versicolor           5.0          2.3           3.3          1.0
94    versicolor           5.6          2.7           4.2          1.3
95    versicolor           5.7          3.0           4.2          1.2
96    versicolor           5.7          2.9           4.2          1.3
97    versicolor           6.2          2.9           4.3          1.3
98    versicolor           5.1          2.5           3.0          1.1
99    versicolor           5.7          2.8           4.1          1.3
100    virginica           6.3          3.3           6.0          2.5
101    virginica           5.8          2.7           5.1          1.9
102    virginica           7.1          3.0           5.9          2.1
103    virginica           6.3          2.9           5.6          1.8
104    virginica           6.5          3.0           5.8          2.2
105    virginica           7.6          3.0           6.6          2.1
106    virginica           4.9          2.5           4.5          1.7
107    virginica           7.3          2.9           6.3          1.8
108    virginica           6.7          2.5           5.8          1.8
109    virginica           7.2          3.6           6.1          2.5
110    virginica           6.5          3.2           5.1          2.0
111    virginica           6.4          2.7           5.3          1.9
112    virginica           6.8          3.0           5.5          2.1
113    virginica           5.7          2.5           5.0          2.0
114    virginica           5.8          2.8           5.1          2.4
115    virginica           6.4          3.2           5.3          2.3
116    virginica           6.5          3.0           5.5          1.8
117    virginica           7.7          3.8           6.7          2.2
118    virginica           7.7          2.6           6.9          2.3
119    virginica           6.0          2.2           5.0          1.5
120    virginica           6.9          3.2           5.7          2.3
121    virginica           5.6          2.8           4.9          2.0
122    virginica           7.7          2.8           6.7          2.0
123    virginica           6.3          2.7           4.9          1.8
124    virginica           6.7          3.3           5.7          2.1
125    virginica           7.2          3.2           6.0          1.8
126    virginica           6.2          2.8           4.8          1.8
127    virginica           6.1          3.0           4.9          1.8
128    virginica           6.4          2.8           5.6          2.1
129    virginica           7.2          3.0           5.8          1.6
130    virginica           7.4          2.8           6.1          1.9
131    virginica           7.9          3.8           6.4          2.0
132    virginica           6.4          2.8           5.6          2.2
133    virginica           6.3          2.8           5.1          1.5
134    virginica           6.1          2.6           5.6          1.4
135    virginica           7.7          3.0           6.1          2.3
136    virginica           6.3          3.4           5.6          2.4
137    virginica           6.4          3.1           5.5          1.8
138    virginica           6.0          3.0           4.8          1.8
139    virginica           6.9          3.1           5.4          2.1
140    virginica           6.7          3.1           5.6          2.4
141    virginica           6.9          3.1           5.1          2.3
142    virginica           5.8          2.7           5.1          1.9
143    virginica           6.8          3.2           5.9          2.3
144    virginica           6.7          3.3           5.7          2.5
145    virginica           6.7          3.0           5.2          2.3
146    virginica           6.3          2.5           5.0          1.9
147    virginica           6.5          3.0           5.2          2.0
148    virginica           6.2          3.4           5.4          2.3
149    virginica           5.9          3.0           5.1          1.8

### Rename the species_name column to just species.

In [30]:
df = df.rename(columns={'species_name': 'species'})

In [31]:
df

        species  sepal_length  sepal_width  petal_length  petal_width
0        setosa           5.1          3.5           1.4          0.2
1        setosa           4.9          3.0           1.4          0.2
2        setosa           4.7          3.2           1.3          0.2
3        setosa           4.6          3.1           1.5          0.2
4        setosa           5.0          3.6           1.4          0.2
5        setosa           5.4          3.9           1.7          0.4
6        setosa           4.6          3.4           1.4          0.3
7        setosa           5.0          3.4           1.5          0.2
8        setosa           4.4          2.9           1.4          0.2
9        setosa           4.9          3.1           1.5          0.1
10       setosa           5.4          3.7           1.5          0.2
11       setosa           4.8          3.4           1.6          0.2
12       setosa           4.8          3.0           1.4          0.1
13       setosa           4.3          3.0           1.1          0.1
14       setosa           5.8          4.0           1.2          0.2
15       setosa           5.7          4.4           1.5          0.4
16       setosa           5.4          3.9           1.3          0.4
17       setosa           5.1          3.5           1.4          0.3
18       setosa           5.7          3.8           1.7          0.3
19       setosa           5.1          3.8           1.5          0.3
20       setosa           5.4          3.4           1.7          0.2
21       setosa           5.1          3.7           1.5          0.4
22       setosa           4.6          3.6           1.0          0.2
23       setosa           5.1          3.3           1.7          0.5
24       setosa           4.8          3.4           1.9          0.2
25       setosa           5.0          3.0           1.6          0.2
26       setosa           5.0          3.4           1.6          0.4
27       setosa           5.2          3.5           1.5          0.2
28       setosa           5.2          3.4           1.4          0.2
29       setosa           4.7          3.2           1.6          0.2
30       setosa           4.8          3.1           1.6          0.2
31       setosa           5.4          3.4           1.5          0.4
32       setosa           5.2          4.1           1.5          0.1
33       setosa           5.5          4.2           1.4          0.2
34       setosa           4.9          3.1           1.5          0.2
35       setosa           5.0          3.2           1.2          0.2
36       setosa           5.5          3.5           1.3          0.2
37       setosa           4.9          3.6           1.4          0.1
38       setosa           4.4          3.0           1.3          0.2
39       setosa           5.1          3.4           1.5          0.2
40       setosa           5.0          3.5           1.3          0.3
41       setosa           4.5          2.3           1.3          0.3
42       setosa           4.4          3.2           1.3          0.2
43       setosa           5.0          3.5           1.6          0.6
44       setosa           5.1          3.8           1.9          0.4
45       setosa           4.8          3.0           1.4          0.3
46       setosa           5.1          3.8           1.6          0.2
47       setosa           4.6          3.2           1.4          0.2
48       setosa           5.3          3.7           1.5          0.2
49       setosa           5.0          3.3           1.4          0.2
50   versicolor           7.0          3.2           4.7          1.4
51   versicolor           6.4          3.2           4.5          1.5
52   versicolor           6.9          3.1           4.9          1.5
53   versicolor           5.5          2.3           4.0          1.3
54   versicolor           6.5          2.8           4.6          1.5
55   versicolor           5.7          2.8           4.5          1.3
56   versicolor           6.3          3.3           4.7          1.6
57   versicolor           4.9          2.4           3.3          1.0
58   versicolor           6.6          2.9           4.6          1.3
59   versicolor           5.2          2.7           3.9          1.4
60   versicolor           5.0          2.0           3.5          1.0
61   versicolor           5.9          3.0           4.2          1.5
62   versicolor           6.0          2.2           4.0          1.0
63   versicolor           6.1          2.9           4.7          1.4
64   versicolor           5.6          2.9           3.6          1.3
65   versicolor           6.7          3.1           4.4          1.4
66   versicolor           5.6          3.0           4.5          1.5
67   versicolor           5.8          2.7           4.1          1.0
68   versicolor           6.2          2.2           4.5          1.5
69   versicolor           5.6          2.5           3.9          1.1
70   versicolor           5.9          3.2           4.8          1.8
71   versicolor           6.1          2.8           4.0          1.3
72   versicolor           6.3          2.5           4.9          1.5
73   versicolor           6.1          2.8           4.7          1.2
74   versicolor           6.4          2.9           4.3          1.3
75   versicolor           6.6          3.0           4.4          1.4
76   versicolor           6.8          2.8           4.8          1.4
77   versicolor           6.7          3.0           5.0          1.7
78   versicolor           6.0          2.9           4.5          1.5
79   versicolor           5.7          2.6           3.5          1.0
80   versicolor           5.5          2.4           3.8          1.1
81   versicolor           5.5          2.4           3.7          1.0
82   versicolor           5.8          2.7           3.9          1.2
83   versicolor           6.0          2.7           5.1          1.6
84   versicolor           5.4          3.0           4.5          1.5
85   versicolor           6.0          3.4           4.5          1.6
86   versicolor           6.7          3.1           4.7          1.5
87   versicolor           6.3          2.3           4.4          1.3
88   versicolor           5.6          3.0           4.1          1.3
89   versicolor           5.5          2.5           4.0          1.3
90   versicolor           5.5          2.6           4.4          1.2
91   versicolor           6.1          3.0           4.6          1.4
92   versicolor           5.8          2.6           4.0          1.2
93   versicolor           5.0          2.3           3.3          1.0
94   versicolor           5.6          2.7           4.2          1.3
95   versicolor           5.7          3.0           4.2          1.2
96   versicolor           5.7          2.9           4.2          1.3
97   versicolor           6.2          2.9           4.3          1.3
98   versicolor           5.1          2.5           3.0          1.1
99   versicolor           5.7          2.8           4.1          1.3
100   virginica           6.3          3.3           6.0          2.5
101   virginica           5.8          2.7           5.1          1.9
102   virginica           7.1          3.0           5.9          2.1
103   virginica           6.3          2.9           5.6          1.8
104   virginica           6.5          3.0           5.8          2.2
105   virginica           7.6          3.0           6.6          2.1
106   virginica           4.9          2.5           4.5          1.7
107   virginica           7.3          2.9           6.3          1.8
108   virginica           6.7          2.5           5.8          1.8
109   virginica           7.2          3.6           6.1          2.5
110   virginica           6.5          3.2           5.1          2.0
111   virginica           6.4          2.7           5.3          1.9
112   virginica           6.8          3.0           5.5          2.1
113   virginica           5.7          2.5           5.0          2.0
114   virginica           5.8          2.8           5.1          2.4
115   virginica           6.4          3.2           5.3          2.3
116   virginica           6.5          3.0           5.5          1.8
117   virginica           7.7          3.8           6.7          2.2
118   virginica           7.7          2.6           6.9          2.3
119   virginica           6.0          2.2           5.0          1.5
120   virginica           6.9          3.2           5.7          2.3
121   virginica           5.6          2.8           4.9          2.0
122   virginica           7.7          2.8           6.7          2.0
123   virginica           6.3          2.7           4.9          1.8
124   virginica           6.7          3.3           5.7          2.1
125   virginica           7.2          3.2           6.0          1.8
126   virginica           6.2          2.8           4.8          1.8
127   virginica           6.1          3.0           4.9          1.8
128   virginica           6.4          2.8           5.6          2.1
129   virginica           7.2          3.0           5.8          1.6
130   virginica           7.4          2.8           6.1          1.9
131   virginica           7.9          3.8           6.4          2.0
132   virginica           6.4          2.8           5.6          2.2
133   virginica           6.3          2.8           5.1          1.5
134   virginica           6.1          2.6           5.6          1.4
135   virginica           7.7          3.0           6.1          2.3
136   virginica           6.3          3.4           5.6          2.4
137   virginica           6.4          3.1           5.5          1.8
138   virginica           6.0          3.0           4.8          1.8
139   virginica           6.9          3.1           5.4          2.1
140   virginica           6.7          3.1           5.6          2.4
141   virginica           6.9          3.1           5.1          2.3
142   virginica           5.8          2.7           5.1          1.9
143   virginica           6.8          3.2           5.9          2.3
144   virginica           6.7          3.3           5.7          2.5
145   virginica           6.7          3.0           5.2          2.3
146   virginica           6.3          2.5           5.0          1.9
147   virginica           6.5          3.0           5.2          2.0
148   virginica           6.2          3.4           5.4          2.3
149   virginica           5.9          3.0           5.1          1.8

### Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [32]:
dummies = pd.get_dummies(df['species'], prefix = 'species')
df = pd.concat([df,dummies], axis=1)

In [33]:
df

,species,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0
5,setosa,5.4,3.9,1.7,0.4,1,0,0
6,setosa,4.6,3.4,1.4,0.3,1,0,0
7,setosa,5.0,3.4,1.5,0.2,1,0,0
8,setosa,4.4,2.9,1.4,0.2,1,0,0
9,setosa,4.9,3.1,1.5,0.1,1,0,0
10,setosa,5.4,3.7,1.5,0.2,1,0,0
11,setosa,4.8,3.4,1.6,0.2,1,0,0
12,setosa,4.8,3.0,1.4,0.1,1,0,0
13,setosa,4.3,3.0,1.1,0.1,1,0,0
14,setosa,5.8,4.0,1.2,0.2,1,0,0
15,setosa,5.7,4.4,1.5,0.4,1,0,0
16,setosa,5.4,3.9,1.3,0.4,1,0,0
17,setosa,5.1,3.5,1.4,0.3,1,0,0
18,setosa,5.7,3.8,1.7,0.3,1,0,0
19,setosa,5.1,3.8,1.5,0.3,1,0,0
20,setosa,5.4,3.4,1.7,0.2,1,0,0
21,setosa,5.1,3.7,1.5,0.4,1,0,0
22,setosa,4.6,3.6,1.0,0.2,1,0,0
23,setosa,5.1,3.3,1.7,0.5,1,0,0
24,setosa,4.8,3.4,1.9,0.2,1,0,0
25,setosa,5.0,3.0,1.6,0.2,1,0,0
26,setosa,5.0,3.4,1.6,0.4,1,0,0
27,setosa,5.2,3.5,1.5,0.2,1,0,0
28,setosa,5.2,3.4,1.4,0.2,1,0,0
29,setosa,4.7,3.2,1.6,0.2,1,0,0
30,setosa,4.8,3.1,1.6,0.2,1,0,0
31,setosa,5.4,3.4,1.5,0.4,1,0,0
32,setosa,5.2,4.1,1.5,0.1,1,0,0
33,setosa,5.5,4.2,1.4,0.2,1,0,0
34,setosa,4.9,3.1,1.5,0.2,1,0,0
35,setosa,5.0,3.2,1.2,0.2,1,0,0
36,setosa,5.5,3.5,1.3,0.2,1,0,0
37,setosa,4.9,3.6,1.4,0.1,1,0,0
38,setosa,4.4,3.0,1.3,0.2,1,0,0
39,setosa,5.1,3.4,1.5,0.2,1,0,0
40,setosa,5.0,3.5,1.3,0.3,1,0,0
41,setosa,4.5,2.3,1.3,0.3,1,0,0
42,setosa,4.4,3.2,1.3,0.2,1,0,0
43,setosa,5.0,3.5,1.6,0.6,1,0,0
44,setosa,5.1,3.8,1.9,0.4,1,0,0
45,setosa,4.8,3.0,1.4,0.3,1,0,0
46,setosa,5.1,3.8,1.6,0.2,1,0,0
47,setosa,4.6,3.2,1.4,0.2,1,0,0
48,setosa,5.3,3.7,1.5,0.2,1,0,0
49,setosa,5.0,3.3,1.4,0.2,1,0,0
50,versicolor,7.0,3.2,4.7,1.4,0,1,0
51,versicolor,6.4,3.2,4.5,1.5,0,1,0
52,versicolor,6.9,3.1,4.9,1.5,0,1,0
53,versicolor,5.5,2.3,4.0,1.3,0,1,0
54,versicolor,6.5,2.8,4.6,1.5,0,1,0
55,versicolor,5.7,2.8,4.5,1.3,0,1,0
56,versicolor,6.3,3.3,4.7,1.6,0,1,0
57,versicolor,4.9,2.4,3.3,1.0,0,1,0
58,versicolor,6.6,2.9,4.6,1.3,0,1,0
59,versicolor,5.2,2.7,3.9,1.4,0,1,0
60,versicolor,5.0,2.0,3.5,1.0,0,1,0
61,versicolor,5.9,3.0,4.2,1.5,0,1,0
62,versicolor,6.0,2.2,4.0,1.0,0,1,0
63,versicolor,6.1,2.9,4.7,1.4,0,1,0
64,versicolor,5.6,2.9,3.6,1.3,0,1,0
65,versicolor,6.7,3.1,4.4,1.4,0,1,0
66,versicolor,5.6,3.0,4.5,1.5,0,1,0
67,versicolor,5.8,2.7,4.1,1.0,0,1,0
68,versicolor,6.2,2.2,4.5,1.5,0,1,0
69,versicolor,5.6,2.5,3.9,1.1,0,1,0
70,versicolor,5.9,3.2,4.8,1.8,0,1,0
71,versicolor,6.1,2.8,4.0,1.3,0,1,0
72,versicolor,6.3,2.5,4.9,1.5,0,1,0
73,versicolor,6.1,2.8,4.7,1.2,0,1,0
74,versicolor,6.4,2.9,4.3,1.3,0,1,0
75,versicolor,6.6,3.0,4.4,1.4,0,1,0
76,versicolor,6.8,2.8,4.8,1.4,0,1,0
77,versicolor,6.7,3.0,5.0,1.7,0,1,0
78,versicolor,6.0,2.9,4.5,1.5,0,1,0
79,versicolor,5.7,2.6,3.5,1.0,0,1,0
80,versicolor,5.5,2.4,3.8,1.1,0,1,0
81,versicolor,5.5,2.4,3.7,1.0,0,1,0
82,versicolor,5.8,2.7,3.9,1.2,0,1,0
83,versicolor,6.0,2.7,5.1,1.6,0,1,0
84,versicolor,5.4,3.0,4.5,1.5,0,1,0
85,versicolor,6.0,3.4,4.5,1.6,0,1,0
86,versicolor,6.7,3.1,4.7,1.5,0,1,0
87,versicolor,6.3,2.3,4.4,1.3,0,1,0
88,versicolor,5.6,3.0,4.1,1.3,0,1,0
89,versicolor,5.5,2.5,4.0,1.3,0,1,0
90,versicolor,5.5,2.6,4.4,1.2,0,1,0
91,versicolor,6.1,3.0,4.6,1.4,0,1,0
92,versicolor,5.8,2.6,4.0,1.2,0,1,0
93,versicolor,5.0,2.3,3.3,1.0,0,1,0
94,versicolor,5.6,2.7,4.2,1.3,0,1,0
95,versicolor,5.7,3.0,4.2,1.2,0,1,0
96,versicolor,5.7,2.9,4.2,1.3,0,1,0
97,versicolor,6.2,2.9,4.3,1.3,0,1,0
98,versicolor,5.1,2.5,3.0,1.1,0,1,0
99,versicolor,5.7,2.8,4.1,1.3,0,1,0
100,virginica,6.3,3.3,6.0,2.5,0,0,1
101,virginica,5.8,2.7,5.1,1.9,0,0,1
102,virginica,7.1,3.0,5.9,2.1,0,0,1
103,virginica,6.3,2.9,5.6,1.8,0,0,1
104,virginica,6.5,3.0,5.8,2.2,0,0,1
105,virginica,7.6,3.0,6.6,2.1,0,0,1
106,virginica,4.9,2.5,4.5,1.7,0,0,1
107,virginica,7.3,2.9,6.3,1.8,0,0,1
108,virginica,6.7,2.5,5.8,1.8,0,0,1
109,virginica,7.2,3.6,6.1,2.5,0,0,1
110,virginica,6.5,3.2,5.1,2.0,0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,0,1
112,virginica,6.8,3.0,5.5,2.1,0,0,1
113,virginica,5.7,2.5,5.0,2.0,0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,0,1
115,virginica,6.4,3.2,5.3,2.3,0,0,1
116,virginica,6.5,3.0,5.5,1.8,0,0,1
117,virginica,7.7,3.8,6.7,2.2,0,0,1
118,virginica,7.7,2.6,6.9,2.3,0,0,1
119,virginica,6.0,2.2,5.0,1.5,0,0,1
120,virginica,6.9,3.2,5.7,2.3,0,0,1
121,virginica,5.6,2.8,4.9,2.0,0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,0,1
124,virginica,6.7,3.3,5.7,2.1,0,0,1
125,virginica,7.2,3.2,6.0,1.8,0,0,1
126,virginica,6.2,2.8,4.8,1.8,0,0,1
127,virginica,6.1,3.0,4.9,1.8,0,0,1
128,virginica,6.4,2.8,5.6,2.1,0,0,1
129,virginica,7.2,3.0,5.8,1.6,0,0,1
130,virginica,7.4,2.8,6.1,1.9,0,0,1
131,virginica,7.9,3.8,6.4,2.0,0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,0,1
133,virginica,6.3,2.8,5.1,1.5,0,0,1
134,virginica,6.1,2.6,5.6,1.4,0,0,1
135,virginica,7.7,3.0,6.1,2.3,0,0,1
136,virginica,6.3,3.4,5.6,2.4,0,0,1
137,virginica,6.4,3.1,5.5,1.8,0,0,1
138,virginica,6.0,3.0,4.8,1.8,0,0,1
139,virginica,6.9,3.1,5.4,2.1,0,0,1
140,virginica,6.7,3.1,5.6,2.4,0,0,1
141,virginica,6.9,3.1,5.1,2.3,0,0,1
142,virginica,5.8,2.7,5.1,1.9,0,0,1
143,virginica,6.8,3.2,5.9,2.3,0,0,1
144,virginica,6.7,3.3,5.7,2.5,0,0,1
145,virginica,6.7,3.0,5.2,2.3,0,0,1
146,virginica,6.3,2.5,5.0,1.9,0,0,1
147,virginica,6.5,3.0,5.2,2.0,0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,0,1
149,virginica,5.9,3.0,5.1,1.8,0,0,1

### Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [34]:
df = acquire.new_iris_db()

In [35]:
def prep_iris(df):
   
    
    df = df.drop_duplicates()
    df = df.drop(columns=['species_id'])
    dummies = pd.get_dummies(df['species_name'], prefix = 'species')
    df = df.rename(columns={'species_name': 'species'})
    df = pd.concat([df,dummies], axis=1)
    return df

In [36]:
prep_iris(df)

,species,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0
5,setosa,5.4,3.9,1.7,0.4,1,0,0
6,setosa,4.6,3.4,1.4,0.3,1,0,0
7,setosa,5.0,3.4,1.5,0.2,1,0,0
8,setosa,4.4,2.9,1.4,0.2,1,0,0
9,setosa,4.9,3.1,1.5,0.1,1,0,0
10,setosa,5.4,3.7,1.5,0.2,1,0,0
11,setosa,4.8,3.4,1.6,0.2,1,0,0
12,setosa,4.8,3.0,1.4,0.1,1,0,0
13,setosa,4.3,3.0,1.1,0.1,1,0,0
14,setosa,5.8,4.0,1.2,0.2,1,0,0
15,setosa,5.7,4.4,1.5,0.4,1,0,0
16,setosa,5.4,3.9,1.3,0.4,1,0,0
17,setosa,5.1,3.5,1.4,0.3,1,0,0
18,setosa,5.7,3.8,1.7,0.3,1,0,0
19,setosa,5.1,3.8,1.5,0.3,1,0,0
20,setosa,5.4,3.4,1.7,0.2,1,0,0
21,setosa,5.1,3.7,1.5,0.4,1,0,0
22,setosa,4.6,3.6,1.0,0.2,1,0,0
23,setosa,5.1,3.3,1.7,0.5,1,0,0
24,setosa,4.8,3.4,1.9,0.2,1,0,0
25,setosa,5.0,3.0,1.6,0.2,1,0,0
26,setosa,5.0,3.4,1.6,0.4,1,0,0
27,setosa,5.2,3.5,1.5,0.2,1,0,0
28,setosa,5.2,3.4,1.4,0.2,1,0,0
29,setosa,4.7,3.2,1.6,0.2,1,0,0
30,setosa,4.8,3.1,1.6,0.2,1,0,0
31,setosa,5.4,3.4,1.5,0.4,1,0,0
32,setosa,5.2,4.1,1.5,0.1,1,0,0
33,setosa,5.5,4.2,1.4,0.2,1,0,0
34,setosa,4.9,3.1,1.5,0.2,1,0,0
35,setosa,5.0,3.2,1.2,0.2,1,0,0
36,setosa,5.5,3.5,1.3,0.2,1,0,0
37,setosa,4.9,3.6,1.4,0.1,1,0,0
38,setosa,4.4,3.0,1.3,0.2,1,0,0
39,setosa,5.1,3.4,1.5,0.2,1,0,0
40,setosa,5.0,3.5,1.3,0.3,1,0,0
41,setosa,4.5,2.3,1.3,0.3,1,0,0
42,setosa,4.4,3.2,1.3,0.2,1,0,0
43,setosa,5.0,3.5,1.6,0.6,1,0,0
44,setosa,5.1,3.8,1.9,0.4,1,0,0
45,setosa,4.8,3.0,1.4,0.3,1,0,0
46,setosa,5.1,3.8,1.6,0.2,1,0,0
47,setosa,4.6,3.2,1.4,0.2,1,0,0
48,setosa,5.3,3.7,1.5,0.2,1,0,0
49,setosa,5.0,3.3,1.4,0.2,1,0,0
50,versicolor,7.0,3.2,4.7,1.4,0,1,0
51,versicolor,6.4,3.2,4.5,1.5,0,1,0
52,versicolor,6.9,3.1,4.9,1.5,0,1,0
53,versicolor,5.5,2.3,4.0,1.3,0,1,0
54,versicolor,6.5,2.8,4.6,1.5,0,1,0
55,versicolor,5.7,2.8,4.5,1.3,0,1,0
56,versicolor,6.3,3.3,4.7,1.6,0,1,0
57,versicolor,4.9,2.4,3.3,1.0,0,1,0
58,versicolor,6.6,2.9,4.6,1.3,0,1,0
59,versicolor,5.2,2.7,3.9,1.4,0,1,0
60,versicolor,5.0,2.0,3.5,1.0,0,1,0
61,versicolor,5.9,3.0,4.2,1.5,0,1,0
62,versicolor,6.0,2.2,4.0,1.0,0,1,0
63,versicolor,6.1,2.9,4.7,1.4,0,1,0
64,versicolor,5.6,2.9,3.6,1.3,0,1,0
65,versicolor,6.7,3.1,4.4,1.4,0,1,0
66,versicolor,5.6,3.0,4.5,1.5,0,1,0
67,versicolor,5.8,2.7,4.1,1.0,0,1,0
68,versicolor,6.2,2.2,4.5,1.5,0,1,0
69,versicolor,5.6,2.5,3.9,1.1,0,1,0
70,versicolor,5.9,3.2,4.8,1.8,0,1,0
71,versicolor,6.1,2.8,4.0,1.3,0,1,0
72,versicolor,6.3,2.5,4.9,1.5,0,1,0
73,versicolor,6.1,2.8,4.7,1.2,0,1,0
74,versicolor,6.4,2.9,4.3,1.3,0,1,0
75,versicolor,6.6,3.0,4.4,1.4,0,1,0
76,versicolor,6.8,2.8,4.8,1.4,0,1,0
77,versicolor,6.7,3.0,5.0,1.7,0,1,0
78,versicolor,6.0,2.9,4.5,1.5,0,1,0
79,versicolor,5.7,2.6,3.5,1.0,0,1,0
80,versicolor,5.5,2.4,3.8,1.1,0,1,0
81,versicolor,5.5,2.4,3.7,1.0,0,1,0
82,versicolor,5.8,2.7,3.9,1.2,0,1,0
83,versicolor,6.0,2.7,5.1,1.6,0,1,0
84,versicolor,5.4,3.0,4.5,1.5,0,1,0
85,versicolor,6.0,3.4,4.5,1.6,0,1,0
86,versicolor,6.7,3.1,4.7,1.5,0,1,0
87,versicolor,6.3,2.3,4.4,1.3,0,1,0
88,versicolor,5.6,3.0,4.1,1.3,0,1,0
89,versicolor,5.5,2.5,4.0,1.3,0,1,0
90,versicolor,5.5,2.6,4.4,1.2,0,1,0
91,versicolor,6.1,3.0,4.6,1.4,0,1,0
92,versicolor,5.8,2.6,4.0,1.2,0,1,0
93,versicolor,5.0,2.3,3.3,1.0,0,1,0
94,versicolor,5.6,2.7,4.2,1.3,0,1,0
95,versicolor,5.7,3.0,4.2,1.2,0,1,0
96,versicolor,5.7,2.9,4.2,1.3,0,1,0
97,versicolor,6.2,2.9,4.3,1.3,0,1,0
98,versicolor,5.1,2.5,3.0,1.1,0,1,0
99,versicolor,5.7,2.8,4.1,1.3,0,1,0
100,virginica,6.3,3.3,6.0,2.5,0,0,1
101,virginica,5.8,2.7,5.1,1.9,0,0,1
102,virginica,7.1,3.0,5.9,2.1,0,0,1
103,virginica,6.3,2.9,5.6,1.8,0,0,1
104,virginica,6.5,3.0,5.8,2.2,0,0,1
105,virginica,7.6,3.0,6.6,2.1,0,0,1
106,virginica,4.9,2.5,4.5,1.7,0,0,1
107,virginica,7.3,2.9,6.3,1.8,0,0,1
108,virginica,6.7,2.5,5.8,1.8,0,0,1
109,virginica,7.2,3.6,6.1,2.5,0,0,1
110,virginica,6.5,3.2,5.1,2.0,0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,0,1
112,virginica,6.8,3.0,5.5,2.1,0,0,1
113,virginica,5.7,2.5,5.0,2.0,0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,0,1
115,virginica,6.4,3.2,5.3,2.3,0,0,1
116,virginica,6.5,3.0,5.5,1.8,0,0,1
117,virginica,7.7,3.8,6.7,2.2,0,0,1
118,virginica,7.7,2.6,6.9,2.3,0,0,1
119,virginica,6.0,2.2,5.0,1.5,0,0,1
120,virginica,6.9,3.2,5.7,2.3,0,0,1
121,virginica,5.6,2.8,4.9,2.0,0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,0,1
124,virginica,6.7,3.3,5.7,2.1,0,0,1
125,virginica,7.2,3.2,6.0,1.8,0,0,1
126,virginica,6.2,2.8,4.8,1.8,0,0,1
127,virginica,6.1,3.0,4.9,1.8,0,0,1
128,virginica,6.4,2.8,5.6,2.1,0,0,1
129,virginica,7.2,3.0,5.8,1.6,0,0,1
130,virginica,7.4,2.8,6.1,1.9,0,0,1
131,virginica,7.9,3.8,6.4,2.0,0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,0,1
133,virginica,6.3,2.8,5.1,1.5,0,0,1
134,virginica,6.1,2.6,5.6,1.4,0,0,1
135,virginica,7.7,3.0,6.1,2.3,0,0,1
136,virginica,6.3,3.4,5.6,2.4,0,0,1
137,virginica,6.4,3.1,5.5,1.8,0,0,1
138,virginica,6.0,3.0,4.8,1.8,0,0,1
139,virginica,6.9,3.1,5.4,2.1,0,0,1
140,virginica,6.7,3.1,5.6,2.4,0,0,1
141,virginica,6.9,3.1,5.1,2.3,0,0,1
143,virginica,6.8,3.2,5.9,2.3,0,0,1
144,virginica,6.7,3.3,5.7,2.5,0,0,1
145,virginica,6.7,3.0,5.2,2.3,0,0,1
146,virginica,6.3,2.5,5.0,1.9,0,0,1
147,virginica,6.5,3.0,5.2,2.0,0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,0,1
149,virginica,5.9,3.0,5.1,1.8,0,0,1

### Using the Titanic dataset

### Use the function defined in acquire.py to load the Titanic data.

In [37]:
df = acquire.new_titanic_data()

In [38]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

### Drop any unnecessary, unhelpful, or duplicated columns.

In [39]:
cols_to_drop = ['class','sibsp','embarked']
df = df.drop(columns=cols_to_drop)
df

,passenger_id,survived,pclass,sex,age,parch,fare,deck,embark_town,alone
0,0,0,3,male,22.0,0,7.2500,None,Southampton,0
1,1,1,1,female,38.0,0,71.2833,C,Cherbourg,0
2,2,1,3,female,26.0,0,7.9250,None,Southampton,1
3,3,1,1,female,35.0,0,53.1000,C,Southampton,0
4,4,0,3,male,35.0,0,8.0500,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,13.0000,None,Southampton,1
887,887,1,1,female,19.0,0,30.0000,B,Southampton,1
888,888,0,3,female,NaN,2,23.4500,None,Southampton,0
889,889,1,1,male,26.0,0,30.0000,C,Cherbourg,1
890,890,0,3,male,32.0,0,7.7500,None,Queenstown,1

### Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [40]:
dummies = pd.get_dummies(df['deck'], prefix = 'deck')
df = pd.concat([df,dummies], axis=1)

In [41]:
df

,passenger_id,survived,pclass,sex,age,parch,fare,deck,embark_town,alone,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G
0,0,0,3,male,22.0,0,7.2500,None,Southampton,0,0,0,0,0,0,0,0
1,1,1,1,female,38.0,0,71.2833,C,Cherbourg,0,0,0,1,0,0,0,0
2,2,1,3,female,26.0,0,7.9250,None,Southampton,1,0,0,0,0,0,0,0
3,3,1,1,female,35.0,0,53.1000,C,Southampton,0,0,0,1,0,0,0,0
4,4,0,3,male,35.0,0,8.0500,None,Southampton,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,13.0000,None,Southampton,1,0,0,0,0,0,0,0
887,887,1,1,female,19.0,0,30.0000,B,Southampton,1,0,1,0,0,0,0,0
888,888,0,3,female,NaN,2,23.4500,None,Southampton,0,0,0,0,0,0,0,0
889,889,1,1,male,26.0,0,30.0000,C,Cherbourg,1,0,0,1,0,0,0,0
890,890,0,3,male,32.0,0,7.7500,None,Queenstown,1,0,0,0,0,0,0,0

### Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [42]:
df = acquire.new_titanic_data()

In [43]:
def prep_titanic(df):
   
    
    df = df.drop_duplicates()
    df = df.drop(columns=['class','sibsp','embarked'])
    dummies = pd.get_dummies(df['deck'], prefix = 'deck')
    df = df.rename(columns={'fare': 'flight_cost'})
    df = pd.concat([df,dummies], axis=1)
    return df

In [44]:
prep_titanic(df)

,passenger_id,survived,pclass,sex,age,parch,flight_cost,deck,embark_town,alone,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G
0,0,0,3,male,22.0,0,7.2500,None,Southampton,0,0,0,0,0,0,0,0
1,1,1,1,female,38.0,0,71.2833,C,Cherbourg,0,0,0,1,0,0,0,0
2,2,1,3,female,26.0,0,7.9250,None,Southampton,1,0,0,0,0,0,0,0
3,3,1,1,female,35.0,0,53.1000,C,Southampton,0,0,0,1,0,0,0,0
4,4,0,3,male,35.0,0,8.0500,None,Southampton,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,13.0000,None,Southampton,1,0,0,0,0,0,0,0
887,887,1,1,female,19.0,0,30.0000,B,Southampton,1,0,1,0,0,0,0,0
888,888,0,3,female,NaN,2,23.4500,None,Southampton,0,0,0,0,0,0,0,0
889,889,1,1,male,26.0,0,30.0000,C,Cherbourg,1,0,0,1,0,0,0,0
890,890,0,3,male,32.0,0,7.7500,None,Queenstown,1,0,0,0,0,0,0,0

### Using the Telco dataset

### Use the function defined in acquire.py to load the Telco data.

In [45]:
df = acquire.new_telco_data()

In [46]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,2,Yes,2,65.60,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,Yes,1,No,2,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,No,1,Yes,1,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,1,Yes,1,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,1,Yes,2,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,Yes,...,No,2,No,2,55.15,742.9,No,One year,DSL,Mailed check
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,No,...,Yes,1,Yes,1,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,No,...,No,1,Yes,2,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,Yes,...,Yes,3,No,2,67.85,4627.65,No,Two year,DSL,Mailed check
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,Yes,...,Yes,3,No,1,59.00,3707.6,No,Two year,DSL,Electronic check

### Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [47]:
df = df.drop(columns=['payment_type_id','contract_type_id','internet_service_type_id'])

In [48]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

### Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [49]:
dummies = pd.get_dummies(df['payment_type'], prefix = 'payment')
df = pd.concat([df,dummies], axis=1)

In [50]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,payment_Bank transfer (automatic),payment_Credit card (automatic),payment_Electronic check,payment_Mailed check
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,65.60,593.3,No,One year,DSL,Mailed check,0,0,0,1
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,59.90,542.4,No,Month-to-month,DSL,Mailed check,0,0,0,1
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check,0,0,1,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check,0,0,1,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,55.15,742.9,No,One year,DSL,Mailed check,0,0,0,1
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check,0,0,1,0
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,50.30,92.75,No,Month-to-month,DSL,Mailed check,0,0,0,1
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,67.85,4627.65,No,Two year,DSL,Mailed check,0,0,0,1
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,59.00,3707.6,No,Two year,DSL,Electronic check,0,0,1,0

### Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [51]:
df = acquire.new_telco_data()

In [52]:
def prep_telco(df):
   
    
    df = df.drop_duplicates()
    df = df.drop(columns=['payment_type_id','contract_type_id','internet_service_type_id'])
    dummies = pd.get_dummies(df['payment_type'], prefix = 'payment')
    df = df.rename(columns={'churn': 'active'})
    df = pd.concat([df,dummies], axis=1)
    return df

In [53]:
df = prep_telco(df)

In [54]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,monthly_charges,total_charges,active,contract_type,internet_service_type,payment_type,payment_Bank transfer (automatic),payment_Credit card (automatic),payment_Electronic check,payment_Mailed check
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,65.60,593.3,No,One year,DSL,Mailed check,0,0,0,1
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,59.90,542.4,No,Month-to-month,DSL,Mailed check,0,0,0,1
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check,0,0,1,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check,0,0,1,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,55.15,742.9,No,One year,DSL,Mailed check,0,0,0,1
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check,0,0,1,0
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,50.30,92.75,No,Month-to-month,DSL,Mailed check,0,0,0,1
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,67.85,4627.65,No,Two year,DSL,Mailed check,0,0,0,1
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,59.00,3707.6,No,Two year,DSL,Electronic check,0,0,1,0

###  - Split your data

### Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [55]:
import prepare

### Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [56]:
df = acquire.new_iris_db()

In [57]:
df = prep_iris(df)

In [58]:
prepare.split_iris_data(df)

(        species  sepal_length  sepal_width  petal_length  petal_width  \
 27       setosa           5.2          3.5           1.5          0.2
 145   virginica           6.7          3.0           5.2          2.3
 43       setosa           5.0          3.5           1.6          0.6
 62   versicolor           6.0          2.2           4.0          1.0
 63   versicolor           6.1          2.9           4.7          1.4
 57   versicolor           4.9          2.4           3.3          1.0
 104   virginica           6.5          3.0           5.8          2.2
 94   versicolor           5.6          2.7           4.2          1.3
 110   virginica           6.5          3.2           5.1          2.0
 149   virginica           5.9          3.0           5.1          1.8
 95   versicolor           5.7          3.0           4.2          1.2
 126   virginica           6.2          2.8           4.8          1.8
 55   versicolor           5.7          2.8           4.5          1.3
 7        setosa           5.0          3.4           1.5          0.2
 41       setosa           4.5          2.3           1.3          0.3
 18       setosa           5.7          3.8           1.7          0.3
 81   versicolor           5.5          2.4           3.7          1.0
 56   versicolor           6.3          3.3           4.7          1.6
 141   virginica           6.9          3.1           5.1          2.3
 61   versicolor           5.9          3.0           4.2          1.5
 134   virginica           6.1          2.6           5.6          1.4
 64   versicolor           5.6          2.9           3.6          1.3
 38       setosa           4.4          3.0           1.3          0.2
 20       setosa           5.4          3.4           1.7          0.2
 13       setosa           4.3          3.0           1.1          0.1
 80   versicolor           5.5          2.4           3.8          1.1
 28       setosa           5.2          3.4           1.4          0.2
 112   virginica           6.8          3.0           5.5          2.1
 10       setosa           5.4          3.7           1.5          0.2
 138   virginica           6.0          3.0           4.8          1.8
 92   versicolor           5.8          2.6           4.0          1.2
 33       setosa           5.5          4.2           1.4          0.2
 69   versicolor           5.6          2.5           3.9          1.1
 124   virginica           6.7          3.3           5.7          2.1
 51   versicolor           6.4          3.2           4.5          1.5
 147   virginica           6.5          3.0           5.2          2.0
 60   versicolor           5.0          2.0           3.5          1.0
 90   versicolor           5.5          2.6           4.4          1.2
 23       setosa           5.1          3.3           1.7          0.5
 71   versicolor           6.1          2.8           4.0          1.3
 148   virginica           6.2          3.4           5.4          2.3
 73   versicolor           6.1          2.8           4.7          1.2
 74   versicolor           6.4          2.9           4.3          1.3
 32       setosa           5.2          4.1           1.5          0.1
 89   versicolor           5.5          2.5           4.0          1.3
 83   versicolor           6.0          2.7           5.1          1.6
 111   virginica           6.4          2.7           5.3          1.9
 72   versicolor           6.3          2.5           4.9          1.5
 101   virginica           5.8          2.7           5.1          1.9
 114   virginica           5.8          2.8           5.1          2.4
 106   virginica           4.9          2.5           4.5          1.7
 131   virginica           7.9          3.8           6.4          2.0
 135   virginica           7.7          3.0           6.1          2.3
 93   versicolor           5.0          2.3           3.3          1.0
 36       setosa           5.5          3.5           1.3          0.2
 12       setosa           4.8          3.0           1.4          0.1
 44       setosa           5.1          3.8           1.9          0.4
 59   versicolor           5.2          2.7           3.9          1.4
 58   versicolor           6.6          2.9           4.6          1.3
 87   versicolor           6.3          2.3           4.4          1.3
 34       setosa           4.9          3.1           1.5          0.2
 100   virginica           6.3          3.3           6.0          2.5
 102   virginica           7.1          3.0           5.9          2.1
 5        setosa           5.4          3.9           1.7          0.4
 21       setosa           5.1          3.7           1.5          0.4
 132   virginica           6.4          2.8           5.6          2.2
 115   virginica           6.4          3.2           5.3          2.3
 6        setosa           4.6          3.4           1.4          0.3
 3        setosa           4.6          3.1           1.5          0.2
 91   versicolor           6.1          3.0           4.6          1.4
 144   virginica           6.7          3.3           5.7          2.5
 26       setosa           5.0          3.4           1.6          0.4
 139   virginica           6.9          3.1           5.4          2.1
 53   versicolor           5.5          2.3           4.0          1.3
 11       setosa           4.8          3.4           1.6          0.2
 24       setosa           4.8          3.4           1.9          0.2
 98   versicolor           5.1          2.5           3.0          1.1
 109   virginica           7.2          3.6           6.1          2.5
 31       setosa           5.4          3.4           1.5          0.4
 22       setosa           4.6          3.6           1.0          0.2
 46       setosa           5.1          3.8           1.6          0.2
 37       setosa           4.9          3.6           1.4          0.1
 78   versicolor           6.0          2.9           4.5          1.5

      species_setosa  species_versicolor  species_virginica
 27                1                   0                  0
 145               0                   0                  1
 43                1                   0                  0
 62                0                   1                  0
 63                0                   1                  0
 57                0                   1                  0
 104               0                   0                  1
 94                0                   1                  0
 110               0                   0                  1
 149               0                   0                  1
 95                0                   1                  0
 126               0                   0                  1
 55                0                   1                  0
 7                 1                   0                  0
 41                1                   0                  0
 18                1                   0                  0
 81                0                   1                  0
 56                0                   1                  0
 141               0                   0                  1
 61                0                   1                  0
 134               0                   0                  1
 64                0                   1                  0
 38                1                   0                  0
 20                1                   0                  0
 13                1                   0                  0
 80                0                   1                  0
 28                1                   0                  0
 112               0                   0                  1
 10                1                   0                  0
 138               0                   0                  1
 92                0                   1                  0
 33                1                   0                  0
 69                0                   1                  0
 124               0                   0                  1
 51                0                   1                  0
 147               0                   0                  1
 60                0                   1                  0
 90                0                   1                  0
 23                1                   0                  0
 71                0                   1                  0
 148               0                   0                  1
 73                0                   1                  0
 74                0                   1                  0
 32                1                   0                  0
 89                0                   1                  0
 83                0                   1                  0
 111               0                   0                  1
 72                0                   1                  0
 101               0                   0                  1
 114               0                   0                  1
 106               0                   0                  1
 131               0                   0                  1
 135               0                   0                  1
 93                0                   1                  0
 36                1                   0                  0
 12                1                   0                  0
 44                1                   0                  0
 59                0                   1                  0
 58                0                   1                  0
 87                0                   1                  0
 34                1                   0                  0
 100               0                   0                  1
 102               0                   0                  1
 5                 1                   0                  0
 21                1                   0                  0
 132               0                   0                  1
 115               0                   0                  1
 6                 1                   0                  0
 3                 1                   0                  0
 91                0                   1                  0
 144               0                   0                  1
 26                1                   0                  0
 139               0                   0                  1
 53                0                   1                  0
 11                1                   0                  0
 24                1                   0                  0
 98                0                   1                  0
 109               0                   0                  1
 31                1                   0                  0
 22                1                   0                  0
 46                1                   0                  0
 37                1                   0                  0
 78                0                   1                  0  ,
         species  sepal_length  sepal_width  petal_length  petal_width  \
 39       setosa           5.1          3.4           1.5          0.2
 119   virginica           6.0          2.2           5.0          1.5
 14       setosa           5.8          4.0           1.2          0.2
 125   virginica           7.2          3.2           6.0          1.8
 17       setosa           5.1          3.5           1.4          0.3
 121   virginica           5.6          2.8           4.9          2.0
 47       setosa           4.6          3.2           1.4          0.2
 108   virginica           6.7          2.5           5.8          1.8
 113   virginica           5.7          2.5           5.0          2.0
 77   versicolor           6.7          3.0           5.0          1.7
 30       setosa           4.8          3.1           1.6          0.2
 88   versicolor           5.6          3.0           4.1          1.3
 70   versicolor           5.9          3.2           4.8          1.8
 85   versicolor           6.0          3.4           4.5          1.6
 140   virginica           6.7          3.1           5.6          2.4
 16       setosa           5.4          3.9           1.3          0.4
 137   virginica           6.4          3.1           5.5          1.8
 9        setosa           4.9          3.1           1.5          0.1
 49       setosa           5.0          3.3           1.4          0.2
 120   virginica           6.9          3.2           5.7          2.3
 129   virginica           7.2          3.0           5.8          1.6
 103   virginica           6.3          2.9           5.6          1.8
 76   versicolor           6.8          2.8           4.8          1.4
 2        setosa           4.7          3.2           1.3          0.2
 127   virginica           6.1          3.0           4.9          1.8
 68   versicolor           6.2          2.2           4.5          1.5
 42       setosa           4.4          3.2           1.3          0.2
 79   versicolor           5.7          2.6           3.5          1.0
 66   versicolor           5.6          3.0           4.5          1.5
 54   versicolor           6.5          2.8           4.6          1.5
 50   versicolor           7.0          3.2           4.7          1.4
 48       setosa           5.3          3.7           1.5          0.2
 84   versicolor           5.4          3.0           4.5          1.5
 8        setosa           4.4          2.9           1.4          0.2
 65   versicolor           6.7          3.1           4.4          1.4
 122   virginica           7.7          2.8           6.7          2.0

      species_setosa  species_versicolor  species_virginica
 39                1                   0                  0
 119               0                   0                  1
 14                1                   0                  0
 125               0                   0                  1
 17                1                   0                  0
 121               0                   0                  1
 47                1                   0                  0
 108               0                   0                  1
 113               0                   0                  1
 77                0                   1                  0
 30                1                   0                  0
 88                0                   1                  0
 70                0                   1                  0
 85                0                   1                  0
 140               0                   0                  1
 16                1                   0                  0
 137               0                   0                  1
 9                 1                   0                  0
 49                1                   0                  0
 120               0                   0                  1
 129               0                   0                  1
 103               0                   0                  1
 76                0                   1                  0
 2                 1                   0                  0
 127               0                   0                  1
 68                0                   1                  0
 42                1                   0                  0
 79                0                   1                  0
 66                0                   1                  0
 54                0                   1                  0
 50                0                   1                  0
 48                1                   0                  0
 84                0                   1                  0
 8                 1                   0                  0
 65                0                   1                  0
 122               0                   0                  1  ,
         species  sepal_length  sepal_width  petal_length  petal_width  \
 19       setosa           5.1          3.8           1.5          0.3
 105   virginica           7.6          3.0           6.6          2.1
 82   versicolor           5.8          2.7           3.9          1.2
 118   virginica           7.7          2.6           6.9          2.3
 143   virginica           6.8          3.2           5.9          2.3
 75   versicolor           6.6          3.0           4.4          1.4
 116   virginica           6.5          3.0           5.5          1.8
 29       setosa           4.7          3.2           1.6          0.2
 0        setosa           5.1          3.5           1.4          0.2
 136   virginica           6.3          3.4           5.6          2.4
 130   virginica           7.4          2.8           6.1          1.9
 123   virginica           6.3          2.7           4.9          1.8
 1        setosa           4.9          3.0           1.4          0.2
 40       setosa           5.0          3.5           1.3          0.3
 133   virginica           6.3          2.8           5.1          1.5
 35       setosa           5.0          3.2           1.2          0.2
 25       setosa           5.0          3.0           1.6          0.2
 52   versicolor           6.9          3.1           4.9          1.5
 107   virginica           7.3          2.9           6.3          1.8
 96   versicolor           5.7          2.9           4.2          1.3
 97   versicolor           6.2          2.9           4.3          1.3
 67   versicolor           5.8          2.7           4.1          1.0
 4        setosa           5.0          3.6           1.4          0.2
 146   virginica           6.3          2.5           5.0          1.9
 117   virginica           7.7          3.8           6.7          2.2
 86   versicolor           6.7          3.1           4.7          1.5
 15       setosa           5.7          4.4           1.5          0.4
 99   versicolor           5.7          2.8           4.1          1.3
 128   virginica           6.4          2.8           5.6          2.1
 45       setosa           4.8          3.0           1.4          0.3

      species_setosa  species_versicolor  species_virginica
 19                1                   0                  0
 105               0                   0                  1
 82                0                   1                  0
 118               0                   0                  1
 143               0                   0                  1
 75                0                   1                  0
 116               0                   0                  1
 29                1                   0                  0
 0                 1                   0                  0
 136               0                   0                  1
 130               0                   0                  1
 123               0                   0                  1
 1                 1                   0                  0
 40                1                   0                  0
 133               0                   0                  1
 35                1                   0                  0
 25                1                   0                  0
 52                0                   1                  0
 107               0                   0                  1
 96                0                   1                  0
 97                0                   1                  0
 67                0                   1                  0
 4                 1                   0                  0
 146               0                   0                  1
 117               0                   0                  1
 86                0                   1                  0
 15                1                   0                  0
 99                0                   1                  0
 128               0                   0                  1
 45                1                   0                  0  )

### Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [59]:
df = acquire.new_titanic_data()

In [60]:
df = prep_titanic(df)

In [61]:
prepare.split_titanic_data(df)

Train Titanic Data:
     passenger_id  survived  pclass     sex   age  parch  flight_cost  deck  \
583           583         0       1    male  36.0      0      40.1250     A
165           165         1       3    male   9.0      2      20.5250  None
50             50         0       3    male   7.0      1      39.6875  None
259           259         1       2  female  50.0      1      26.0000  None
306           306         1       1  female   NaN      0     110.8833  None

     embark_town  alone  deck_A  deck_B  deck_C  deck_D  deck_E  deck_F  \
583    Cherbourg      1       1       0       0       0       0       0
165  Southampton      0       0       0       0       0       0       0
50   Southampton      0       0       0       0       0       0       0
259  Southampton      0       0       0       0       0       0       0
306    Cherbourg      1       0       0       0       0       0       0

     deck_G
583       0
165       0
50        0
259       0
306       0
Test Titanic Data:
     passenger_id  survived  pclass     sex   age  parch  flight_cost  deck  \
561           561         0       3    male  40.0      0       7.8958  None
641           641         1       1  female  24.0      0      69.3000     B
400           400         1       3    male  39.0      0       7.9250  None
498           498         0       1  female  25.0      2     151.5500     C
875           875         1       3  female  15.0      0       7.2250  None

     embark_town  alone  deck_A  deck_B  deck_C  deck_D  deck_E  deck_F  \
561  Southampton      1       0       0       0       0       0       0
641    Cherbourg      1       0       1       0       0       0       0
400  Southampton      1       0       0       0       0       0       0
498  Southampton      0       0       0       1       0       0       0
875    Cherbourg      1       0       0       0       0       0       0

     deck_G
561       0
641       0
400       0
498       0
875       0
Validation Titanic Data:
     passenger_id  survived  pclass     sex   age  parch  flight_cost  deck  \
610           610         0       3  female  39.0      5      31.2750  None
424           424         0       3    male  18.0      1      20.2125  None
568           568         0       3    male   NaN      0       7.2292  None
334           334         1       1  female   NaN      0     133.6500  None
101           101         0       3    male   NaN      0       7.8958  None

     embark_town  alone  deck_A  deck_B  deck_C  deck_D  deck_E  deck_F  \
610  Southampton      0       0       0       0       0       0       0
424  Southampton      0       0       0       0       0       0       0
568    Cherbourg      1       0       0       0       0       0       0
334  Southampton      0       0       0       0       0       0       0
101  Southampton      1       0       0       0       0       0       0

     deck_G
610       0
424       0
568       0
334       0
101       0

### Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [62]:
df = acquire.new_telco_data()

In [63]:
df = prep_telco(df)

In [64]:
train, test, validate = prepare.split_telco_data(df)

In [65]:
train, test, validate

(     customer_id  gender  senior_citizen partner dependents  tenure  \
 5310  7503-MIOGA  Female               1     Yes         No      72
 3790  5329-KRDTM    Male               1     Yes         No      72
 4398  6199-IWKGC  Female               1     Yes         No      46
 2635  3748-FVMZZ    Male               0      No         No       4
 2986  4280-DLSHD    Male               0     Yes         No       8
 ...          ...     ...             ...     ...        ...     ...
 6230  8809-RIHDD    Male               0     Yes        Yes      72
 356   0523-VNGTF  Female               1      No         No      52
 2128  3058-HJCUY    Male               0     Yes        Yes      41
 3586  5081-NWSUP  Female               0      No         No      10
 6817  9681-KYGYB    Male               1     Yes         No      49

      phone_service    multiple_lines online_security online_backup  ...  \
 5310           Yes               Yes             Yes           Yes  ...
 3790           Yes               Yes              No           Yes  ...
 4398           Yes               Yes              No            No  ...
 2635            No  No phone service              No            No  ...
 2986           Yes                No              No           Yes  ...
 ...            ...               ...             ...           ...  ...
 6230           Yes               Yes              No           Yes  ...
 356             No  No phone service              No           Yes  ...
 2128           Yes               Yes              No            No  ...
 3586           Yes                No              No           Yes  ...
 6817           Yes               Yes             Yes           Yes  ...

      monthly_charges total_charges active   contract_type  \
 5310           89.85       6697.35     No        Two year
 3790           77.35       5396.25     No        Two year
 4398          100.25       4753.85     No        One year
 2635           40.05        162.45     No  Month-to-month
 2986           54.75        445.85     No  Month-to-month
 ...              ...           ...    ...             ...
 6230          103.40       7372.65    Yes        Two year
 356            50.50        2566.3     No  Month-to-month
 2128          102.60       4213.35    Yes        One year
 3586           64.90        685.55     No        One year
 6817           88.20       4159.45     No  Month-to-month

      internet_service_type               payment_type  \
 5310                   DSL  Bank transfer (automatic)
 3790                   DSL    Credit card (automatic)
 4398           Fiber optic           Electronic check
 2635                   DSL           Electronic check
 2986                   DSL               Mailed check
 ...                    ...                        ...
 6230           Fiber optic           Electronic check
 356                    DSL           Electronic check
 2128           Fiber optic           Electronic check
 3586                   DSL               Mailed check
 6817           Fiber optic           Electronic check

      payment_Bank transfer (automatic) payment_Credit card (automatic)  \
 5310                                 1                               0
 3790                                 0                               1
 4398                                 0                               0
 2635                                 0                               0
 2986                                 0                               0
 ...                                ...                             ...
 6230                                 0                               0
 356                                  0                               0
 2128                                 0                               0
 3586                                 0                               0
 6817                                 0                               0

      payment_Electronic check payment_Mailed check
 5310                        0                    0
 3790                        0                    0
 4398                        1                    0
 2635                        1                    0
 2986                        0                    1
 ...                       ...                  ...
 6230                        1                    0
 356                         1                    0
 2128                        1                    0
 3586                        0                    1
 6817                        1                    0

 [3943 rows x 25 columns],
      customer_id  gender  senior_citizen partner dependents  tenure  \
 720   1062-LHZOD    Male               0     Yes        Yes       1
 5832  8205-OTCHB    Male               0      No         No      22
 4378  6173-GOLSU    Male               1     Yes         No      67
 5553  7817-OMJNA    Male               0      No         No      14
 482   0702-PGIBZ    Male               0      No        Yes       4
 ...          ...     ...             ...     ...        ...     ...
 4506  6352-GIGGQ    Male               0      No         No      67
 1602  2332-EFBJY    Male               0      No         No      16
 583   0856-NAOES    Male               0      No         No       6
 6134  8690-UPCZI    Male               0     Yes        Yes      29
 3333  4749-OJKQU  Female               0      No         No       4

      phone_service    multiple_lines      online_security  \
 720            Yes                No                   No
 5832            No  No phone service                   No
 4378           Yes               Yes                   No
 5553           Yes                No  No internet service
 482            Yes               Yes                   No
 ...            ...               ...                  ...
 4506           Yes               Yes                  Yes
 1602           Yes                No  No internet service
 583            Yes                No                   No
 6134           Yes               Yes                  Yes
 3333           Yes               Yes                   No

             online_backup  ... monthly_charges total_charges active  \
 720                    No  ...           69.90          69.9    Yes
 5832                  Yes  ...           43.75         903.6    Yes
 4378                   No  ...           94.65          6079     No
 5553  No internet service  ...           20.40         275.7     No
 482                   Yes  ...          101.70        364.55    Yes
 ...                   ...  ...             ...           ...    ...
 4506                  Yes  ...           88.80       5903.15     No
 1602  No internet service  ...           19.70         342.4    Yes
 583                    No  ...           60.90         414.1     No
 6134                   No  ...           69.05       1958.45     No
 3333                   No  ...           75.65        302.35     No

        contract_type internet_service_type               payment_type  \
 720   Month-to-month           Fiber optic               Mailed check
 5832        One year                   DSL  Bank transfer (automatic)
 4378  Month-to-month           Fiber optic    Credit card (automatic)
 5553        One year                  None  Bank transfer (automatic)
 482   Month-to-month           Fiber optic           Electronic check
 ...              ...                   ...                        ...
 4506        One year                   DSL  Bank transfer (automatic)
 1602  Month-to-month                  None               Mailed check
 583   Month-to-month                   DSL               Mailed check
 6134        One year                   DSL  Bank transfer (automatic)
 3333  Month-to-month           Fiber optic           Electronic check

      payment_Bank transfer (automatic) payment_Credit card (automatic)  \
 720                                  0                               0
 5832                                 1                               0
 4378                                 0                               1
 5553                                 1                               0
 482                                  0                               0
 ...                                ...                             ...
 4506                                 1                               0
 1602                                 0                               0
 583                                  0                               0
 6134                                 1                               0
 3333                                 0                               0

      payment_Electronic check payment_Mailed check
 720                         0                    1
 5832                        0                    0
 4378                        0                    0
 5553                        0                    0
 482                         1                    0
 ...                       ...                  ...
 4506                        0                    0
 1602                        0                    1
 583                         0                    1
 6134                        0                    0
 3333                        1                    0

 [1691 rows x 25 columns],
      customer_id  gender  senior_citizen partner dependents  tenure  \
 3160  4531-AUZNK  Female               0     Yes        Yes      51
 1577  2296-DKZFP  Female               0     Yes         No      65
 6823  9692-TUSXH  Female               0      No         No      18
 3615  5129-JLPIS    Male               0      No         No      25
 882   1273-MTETI  Female               1      No         No       4
 ...          ...     ...             ...     ...        ...     ...
 1097  1597-FZREH  Female               0      No         No       2
 6441  9117-SHLZX    Male               0      No         No       1
 5985  8441-SHIPE  Female               0      No         No      67
 2452  3511-BFTJW    Male               0     Yes        Yes      72
 983   1428-GTBJJ    Male               0      No         No      11

      phone_service    multiple_lines      online_security  \
 3160           Yes               Yes                  Yes
 1577           Yes                No                  Yes
 6823           Yes                No                  Yes
 3615           Yes                No                  Yes
 882            Yes               Yes                   No
 ...            ...               ...                  ...
 1097           Yes                No                   No
 6441           Yes                No                   No
 5985           Yes               Yes  No internet service
 2452            No  No phone service                  Yes
 983            Yes                No                   No

             online_backup  ... monthly_charges total_charges active  \
 3160                   No  ...           95.15       5000.05     No
 1577                  Yes  ...           71.00        4386.2     No
 6823                   No  ...           96.05        1740.7    Yes
 3615                   No  ...          105.50       2686.05     No
 882                    No  ...           88.85        372.45    Yes
 ...                   ...  ...             ...           ...    ...
 1097                   No  ...           76.40         160.8    Yes
 6441                   No  ...           45.70          45.7    Yes
 5985  No internet service  ...           25.60       1790.35     No
 2452                  Yes  ...           38.50          2763     No
 983                   Yes  ...           74.55        824.75    Yes

        contract_type internet_service_type               payment_type  \
 3160        One year           Fiber optic               Mailed check
 1577        Two year                   DSL  Bank transfer (automatic)
 6823  Month-to-month           Fiber optic           Electronic check
 3615  Month-to-month           Fiber optic           Electronic check
 882   Month-to-month           Fiber optic           Electronic check
 ...              ...                   ...                        ...
 1097  Month-to-month                   DSL           Electronic check
 6441  Month-to-month                   DSL               Mailed check
 5985        Two year                  None  Bank transfer (automatic)
 2452        Two year                   DSL    Credit card (automatic)
 983   Month-to-month           Fiber optic           Electronic check

      payment_Bank transfer (automatic) payment_Credit card (automatic)  \
 3160                                 0                               0
 1577                                 1                               0
 6823                                 0                               0
 3615                                 0                               0
 882                                  0                               0
 ...                                ...                             ...
 1097                                 0                               0
 6441                                 0                               0
 5985                                 1                               0
 2452                                 0                               1
 983                                  0                               0

      payment_Electronic check payment_Mailed check
 3160                        0                    1
 1577                        0                    0
 6823                        1                    0
 3615                        1                    0
 882                         1                    0
 ...                       ...                  ...
 1097                        1                    0
 6441                        0                    1
 5985                        0                    0
 2452                        0                    0
 983                         1                    0

 [1409 rows x 25 columns])