In [33]:
import pandas as pd
from sklearn.metrics import confusion_matrix
import sklearn

### Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.

### Given the following confusion matrix, evaluate (by hand) the model's performance.
```

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

### In the context of this problem, what is a false positive?

7 Actual Dogs are predicted as a cat

### In the context of this problem, what is a false negative?

13 actual cats were predicted as a dog

### How would you describe this model?

correctly predicts 46 instances of dogs and 34 instances of cats.It incorrectly predicts 7 instances of dogs as cats and 13 instances of cats as dogs.

### You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

### Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

In [2]:
df = pd.read_csv('c3.csv')
df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [3]:
df.model1.value_counts()

No Defect    190
Defect        10
Name: model1, dtype: int64

In [4]:
df['baseline_prediction'] = 'No Defect'

In [5]:
df

        actual     model1     model2     model3 baseline_prediction
0    No Defect  No Defect     Defect  No Defect           No Defect
1    No Defect  No Defect     Defect     Defect           No Defect
2    No Defect  No Defect     Defect  No Defect           No Defect
3    No Defect     Defect     Defect     Defect           No Defect
4    No Defect  No Defect     Defect  No Defect           No Defect
..         ...        ...        ...        ...                 ...
195  No Defect  No Defect     Defect     Defect           No Defect
196     Defect     Defect  No Defect  No Defect           No Defect
197  No Defect  No Defect  No Defect  No Defect           No Defect
198  No Defect  No Defect     Defect     Defect           No Defect
199  No Defect  No Defect  No Defect     Defect           No Defect

[200 rows x 5 columns]

### Use the predictions dataset and pandas to help answer the following questions:

### An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here?

True Positive

### Which model would be the best fit for this use case?

In [6]:
subset = df[df.actual == 'No Defect']

model_recall = (subset.model1 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model1 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model1 recall: 98.91%
baseline recall: 100.00%

In [7]:
subset = df[df.actual == 'No Defect']

model_recall = (subset.model2 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model2 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model2 recall: 55.98%
baseline recall: 100.00%

In [8]:
subset = df[df.actual == 'No Defect']

model_recall = (subset.model3 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model3 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model3 recall: 53.26%
baseline recall: 100.00%

Model 1

### Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here?

False Positives

### Which model would be the best fit for this use case?

In [9]:
subset = df[df.model1 == 'Defect']
model_precision = (subset.model1 == subset.actual).mean()

subset = df[df.baseline_prediction == 'No Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 80.00%
baseline precision: 92.00%

In [10]:
subset = df[df.model2 == 'Defect']
model_precision = (subset.model1 == subset.actual).mean()

subset = df[df.baseline_prediction == 'No Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 92.22%
baseline precision: 92.00%

In [11]:
subset = df[df.model3 == 'Defect']
model_precision = (subset.model1 == subset.actual).mean()

subset = df[df.baseline_prediction == 'No Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 92.93%
baseline precision: 92.00%

Model 3

### You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

### At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

### Several models have already been developed with the data, and you can find their results here.

In [12]:
df = pd.read_csv('gives_you_paws.csv')

In [13]:
df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [14]:
df['baseline_prediction'] = 'dog'

In [15]:
df

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

### Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

### In terms of accuracy, how do the various models compare to the baseline model?

In [16]:

model_accuracy = df['model1'] == (df['actual'])
baseline_accuracy = (df['baseline_prediction']) == (df['actual'])

model_accuracy = model_accuracy.mean()
baseline_accuracy = baseline_accuracy.mean()

print(f'model1 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model1 accuracy: 80.74%
baseline accuracy: 65.08%

In [17]:

model_accuracy = df['model2'] == (df['actual'])
baseline_accuracy = (df['baseline_prediction']) == (df['actual'])

model_accuracy = model_accuracy.mean()
baseline_accuracy = baseline_accuracy.mean()

print(f'model2 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model2 accuracy: 63.04%
baseline accuracy: 65.08%

In [18]:

model_accuracy = df['model3'] == (df['actual'])
baseline_accuracy = (df['baseline_prediction']) == (df['actual'])

model_accuracy = model_accuracy.mean()
baseline_accuracy = baseline_accuracy.mean()

print(f'model3 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model3 accuracy: 50.96%
baseline accuracy: 65.08%

### Are any of the models better than the baseline?

Model 1 is better than baseline in terms of accuracy

### Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

Model1

### Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [52]:
df

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 cat
1       dog    dog    cat    cat    dog                 cat
2       dog    cat    cat    cat    dog                 cat
3       dog    dog    dog    cat    dog                 cat
4       cat    cat    cat    dog    dog                 cat
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 cat
4996    dog    dog    cat    cat    dog                 cat
4997    dog    cat    cat    dog    dog                 cat
4998    cat    cat    cat    cat    dog                 cat
4999    dog    dog    dog    dog    dog                 cat

[5000 rows x 6 columns]

In [51]:
df.model1.value_counts()

dog    2937
cat    2063
Name: model1, dtype: int64

In [55]:
df['baseline_prediction'] = 'dog'

In [56]:
df

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [65]:
model_accuracy = df['model1'] == (df['actual'])
baseline_accuracy = (df['baseline_prediction']) == (df['actual'])

model_accuracy = model_accuracy.mean()
baseline_accuracy = baseline_accuracy.mean()

print(f'model1 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model1 accuracy: 80.74%
baseline accuracy: 65.08%

In [61]:
model_accuracy = df['model2'] == (df['actual'])
baseline_accuracy = (df['baseline_prediction']) == (df['actual'])

model_accuracy = model_accuracy.mean()
baseline_accuracy = baseline_accuracy.mean()

print(f'model2 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model2 accuracy: 63.04%
baseline accuracy: 65.08%

In [63]:
model_accuracy = df['model3'] == (df['actual'])
baseline_accuracy = (df['baseline_prediction']) == (df['actual'])

model_accuracy = model_accuracy.mean()
baseline_accuracy = baseline_accuracy.mean()

print(f'model3 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model3 accuracy: 50.96%
baseline accuracy: 65.08%

Model 1 would be the best for determining cats

### Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.
```
sklearn.metrics.accuracy_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.classification_report

```

# sklearn.metrics.accuracy_score

In [76]:
actual_labels = df['actual']


predicted_columns = df.columns[1:]


for column in predicted_columns:
    predicted_labels = df[column]
    
  
    accuracy = sklearn.metrics.accuracy_score(actual_labels, predicted_labels)
    
  
    print(f"Accuracy Score ({column}): {accuracy:.2f}")

Accuracy Score (model1): 0.81
Accuracy Score (model2): 0.63
Accuracy Score (model3): 0.51
Accuracy Score (model4): 0.74
Accuracy Score (baseline_prediction): 0.65

# sklearn.metrics.precision_score

In [67]:
actual_labels = df['actual']


predicted_columns = df.columns[1:]


for column in predicted_columns:
    predicted_labels = df[column]
    
  
    precision = sklearn.metrics.precision_score(actual_labels, predicted_labels, pos_label = 'dog', zero_division = 1)
    
  
    print(f"Precision Score ({column}): {precision:.2f}")

Precision Score (model1): 0.89
Precision Score (model2): 0.89
Precision Score (model3): 0.66
Precision Score (model4): 0.73
Precision Score (baseline_prediction): 0.65

# sklearn.metrics.recall_score

In [84]:
actual_labels = df['actual']


predicted_columns = df.columns[1:]


for column in predicted_columns:
    predicted_labels = df[column]
    
  
    recall = sklearn.metrics.recall_score(actual_labels, predicted_labels, pos_label = 'dog')
    
  
    print(f"Recall Score ({column}): {recall:.2f}")

Recall Score (model1): 0.80
Recall Score (model2): 0.49
Recall Score (model3): 0.51
Recall Score (model4): 0.96
Recall Score (baseline_prediction): 1.00

# sklearn.metrics.classification_report

In [86]:
actual_labels = df['actual']


predicted_columns = df.columns[1:]


for column in predicted_columns:
    predicted_labels = df[column]
    
  
    classification_report = sklearn.metrics.classification_report(actual_labels, predicted_labels, zero_division = 1)
    
  
    print(f"Classification Report ({column}): {classification_report}")

Classification Report (model1):               precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

Classification Report (model2):               precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

Classification Report (model3):               precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

Classification Report (model4):               precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000

Classification Report (baseline_prediction):               precision    recall  f1-score   support

         cat       1.00      0.00      0.00      1746
         dog       0.65      1.00      0.79      3254

    accuracy                           0.65      5000
   macro avg       0.83      0.50      0.39      5000
weighted avg       0.77      0.65      0.51      5000